* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
   background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
}

.quiz-container {
  background: #fff;
  max-width: 500px;
  width: 100%;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  text-align: center;
  animation: fadeIn 0.5s ease;
}

.quiz-container h1 {
  color: #6a11cb;
  font-size: 24px;
  margin-bottom: 15px;
}

#time {
  background: #6a11cb;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

#ques {
  font-size: 18px;
  color: #333;
  margin-bottom: 25px;
}

.option-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.option {
  background: #f7f7f7;
  padding: 12px;
  border: 2px solid #6a11cb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: #6a11cb;
  color: #fff;
}

.option input {
  margin-right: 10px;
  transform: scale(1.3);
  accent-color: #6a11cb;
  cursor: pointer;
}

#btn {
  background: #6a11cb;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

#btn:hover:enabled {
  background: #2575fc;
}

#btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 600px) {
  .quiz-container {
    padding: 20px;
  }

  .quiz-container h1 {
    font-size: 20px;
  }

  #ques {
    font-size: 16px;
  }

  .option {
    font-size: 14px;
  }
}
